name: publish site
on:
  push:
    branches:
      - main  # main 브랜치에 푸시될 때 실행

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          
    - name: Build and Deploy
        run: mkdocs gh-deploy --force